@import "fonts.css";
@import "reset.css";
@import "var.css";

body {
    height: 100vh;
    background-color: #F7CF46;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
}

.login-area__id {
    padding: 15px;
    
    display: flex;
    align-items: center;
}

.login-area__pw {
    padding: 15px;
    
    display: flex;
    align-items: center;

}

.login-area__submit {
    width: 160px;
    height: 100px;
    border-radius: 50px 25px;
    background: none;
    margin-left: 50px;
}



.login-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-area__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-area__userid {
    
    background: none;
    border: none;
    border-bottom: 1px solid var(--kakao-black);
    padding: 5px;
}

.login-area__userpw {
    
    background: none;
    border: none;
    border-bottom: 1px solid var(--kakao-black);
    padding: 5px;
}